.philosophybg{
    background-image: url("../assets/philo.png");
    height: 100vh !important;
    background-size: 100% 100%;
   
}

.phylotext{
  font-family: 'Heebo', sans-serif;
}
.philosophyhead{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  padding: 15px 0px;
}

  
  .philosophy-card {
    height: 350px; /* Set a minimum height to maintain consistency */

  }
  
  .philosophyimg {
    width: 60px; /* Adjust image size */
    height: 60px; /* Ensure consistent size */
  }
  

  .philosophy-card ul {
    padding-left: 20px; /* Ensure proper spacing for lists */
    margin: 0; /* Remove any extra margins */
  }
  