.philosophybg{
    /* background: linear-gradient(#04DBBA,#034C53,#03B3C9); */
    background-image: url("../assets/phybg.png");
    height: 100vh !important;
    background-size: cover;
    padding: 20px 0;
    align-items: flex-end;
}
.philosophyimg{
    height: 100px;
    width: 100px;
}

  
  .philosophy-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    border-radius: 20px;
  }
  .philosophy-card h1{
    color: #;
  } 
  .philosophyimg {
    width: 50px;
    height: 50px;
  }
  
  
  